.recipe {
  margin: 10rem 0 5rem 0;
  display: flex;
}
.active {
  background: linear-gradient(35deg, #494949, #313131);
  color: white;
}

h2 {
  margin-bottom: 2rem;
}

li {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

ul {
  margin-top: 2rem;
}

img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

button {
  padding: 1rem 2rem;
  color: #313131;
  background-color: white;
  border: 2px solid black;
  margin-right: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.info {
  margin-left: 5rem;
  flex: 1;

  .instructions {
    margin-top: 2rem;
    text-align: justify;
  }
}

@media screen and (max-width: 1245px) {
  .recipe {
    margin: 5rem 0 2rem 0;
    flex-direction: column;
  }
  h2 {
    margin-bottom: 1rem;
    font-size: 20px;
  }
  button {
    padding: 0.5rem 1rem;
    font-weight: 400;
  }
  .info {
    margin: 2rem 0 0 0;
  }
}
